*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

h2 {
    margin-top: 1em;
    font-size: 2rem;
    margin-bottom: 0.5rem
}

.play-area {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
}

.block {
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid hotpink;
    transition: background 0.2s ease-in-out;
}

.block:hover {
    cursor: pointer;
    background-color: #0ff30f;
}

.occupied-hover {
    background-color: #ff3a3a;
}

.win {
    background-color: #0ff30f;
}

.win:hover {
    background-color: #0ff30f;
}

#block_0,
#block_1,
#block_2 {
    border-top: none;
}

#block_0,
#block_3,
#block_6 {
    border-left: none;
}

#block_6,
#block_7,
#block_8 {
    border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
    border-right: none;
}

button {
    outline: none;
    border: 4px solid #0ff30f;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: green;
    color: #eee;
}
.playerWin {
    color: green;
}
.computerWins {
    color: red;
}

.draw {
    color: orange;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
        margin-bottom: 0.5em;
    }
    h2 {
        font-size: 1rem;
        margin-bottom: 1.3rem;
    }
}